
    {% extends 'base.html' %}

    {% block content %}

    <div class="ui container">
        <h2 class="ui dividing header">Tipo de Treinamento</h2>
        <form class="ui form" method="post">{% csrf_token %}

            <div class="field">
              <div class="text-danger">
                {{ form.nome.errors }}
              </div>
                <label>Nome</label>
                {{ form.nome }}
            </div>


            <button class="ui primary button" type="submit">Salvar</button>
            <a href="/tipos_treinamento/" class="ui button basic secondary" role="button" aria-pressed="true">Voltar</a>
        </form>
    </div>

    {% endblock %}
