{% extends 'base.html' %}

{% block content %}

    <div class="table_div">

        <h2 class="ui dividing header">Órgãos</h2>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Nome</th>
                {% if is_admin == True %}
                <th>Editar</th>
                <th>Visível</th>
                <th>Gestores</th>
                <th>Excluir</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for orgao in orgaos %}
                    <tr class="center aligned">
                        <td>{{orgao.nome}}</td>
                        {% if is_admin == True %}
                        <td><a  class="links" href="{% url 'orgao_edit' orgao.cod_orgao %}"><i class="pencil icon"></i></a></td>

                        {% if orgao.ind_excluido == False %}
                        <td><a  class="links" href="{% url 'orgao_invisible' orgao.cod_orgao %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a  class="links" href="{% url 'orgao_visible' orgao.cod_orgao %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}
                        <td><a  class="links" href="{% url 'gestores_orgao' orgao.cod_orgao %}"><i class="users icon"></i></a></td>
                        <td><a  class="links" href="{% url 'orgao_delete' orgao.cod_orgao %}"><i class="trash icon"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>

        <br>
        {% if is_admin == True %}
        <a href="/orgao/new/"><button class="ui button basic secondary">Novo</button></a>
        {% endif %}
    </div>

    {% endblock %}
