{% extends 'base.html' %}

{% block content %}

    <div class="table_div">

        <h2 class="ui dividing header">Órgãos</h2>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Nome</th>
                {% if is_admin == True %}
                <th>Editar</th>
                <th>Visível</th>
                <th>Gestores</th>
                <th>Excluir</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for orgao in orgaos %}
                    <tr class="center aligned">
                        <td>{{orgao.nome}}</td>
                        {% if is_admin == True %}
                        <td><a  class="links" href="{% url 'orgao_edit' orgao.cod_orgao %}"><i class="pencil icon"></i></a></td>

                        {% if orgao.ind_excluido == False %}
                        <td><a  class="links" href="{% url 'orgao_invisible' orgao.cod_orgao %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a  class="links" href="{% url 'orgao_visible' orgao.cod_orgao %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}
                        <td><a  class="links" href="{% url 'gestores_orgao' orgao.cod_orgao %}"><i class="users icon"></i></a></td>
                        <td><a class="links" href="#" data-target="#{{orgao.cod_orgao}}" data-toggle="modal"><i class="trash icon"></i></a></td>
                        {% endif %}
                    </tr>
                    <div class="modal fade" id={{orgao.cod_orgao}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border:2px solid #01305c61;">
                          <div class="modal-header">
                            <h3 class="modal-title aviso-titulo" style="color: #01305c;">Tem certeza que deseja excluir?<h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="ui button basic secondary" data-dismiss="modal">Não</button>
                              <a href="{% url 'orgao_delete' orgao.cod_orgao %}">
                                <button type="button" class="ui button basic secondary">Sim</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </tbody>
          </table>

        <br>
        {% if is_admin == True %}
        <a href="/orgao/new/"><button class="ui button basic secondary">Novo</button></a>
        {% endif %}
    </div>

    {% endblock %}
