#header-home{
    font-size: 5rem;
}

#sub-header-home{
    font-size: 1.5rem;
}

#link-home{
    margin-top: 10px;
}


.section_container{
    padding-bottom: 40px !important;
}

.bgSenado{
    height: 82px;
    min-height: 82px;
    background-repeat: repeat-x;
    z-index: 1001;
    background-image: url(../images/bg_Senado.jpg) !important;
}

.logoSenado{
    margin-left: 5% !important;
    height: 23px !important;
    width: 170px !important;
}

.senado_footer{
    height: 29px;
    width: 100%;
    text-align: center;
    background-color: #02305c;
    font: normal 0.7em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
    clear: both;
    bottom:0;
    position: initial;
}

.versaoClass{
    padding-top: 8px !important;
    display: inline-block;
    float: left;
    margin-left: 8px;
}
.centralText{
    padding-top: 8px !important;
    display: inline-block;
}
.madeby{
    padding-top: 8px !important;
    display: inline-block;
    float: right;
    margin-right: 8px !important;
}

.capacitaLogo{
    color: rgb(255, 255, 255) !important;
    float: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #fff;
    padding-top: 28px;
    padding-left: 30px;
}

.img-duvidas {
  width: 19px;
  margin-right: 4px;
  margin-bottom: 6px;
}
