#header-home{
    font-size: 5rem;
}

#sub-header-home{
    font-size: 1.5rem;
}

#link-home{
    margin-top: 10px;
}


.section_container{
    padding-bottom: 40px !important;
}

.bgSenado{
    height: 82px;
    min-height: 82px;
    background-repeat: repeat-x;
    z-index: 1001;
    background-image: url(../images/bg_Senado.jpg) !important;
}