.table_div{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 7%;
    /* width: 2302px; */
}

.select_orgao{
    width: 20% !important;
}

.links{
    -webkit-appearance: none;
    color: rgb(0, 0, 0);
}

/*
.table{
    width: 400px;
} */
