
    {% extends 'base.html' %}

    {% block content %}

    <div class="ui container">
        <h2 class="ui dividing header">Treinamento</h2>
        <form class="ui form" method="post">{% csrf_token %}

            <div class="field">
              <div class="text-danger">
                {{ form.nome.errors }}
              </div>
                <label>Nome</label>
                {{ form.nome  }}
            </div>
            <div class="field">
              <div class="text-danger">
                {{ form.cod_area_conhecimento.errors }}
              </div>
                <label>Código da Área de Conhecimento</label>
                {{ form.cod_area_conhecimento  }}
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
            <a href="/treinamentos/"  class="ui button basic secondary" role="button" aria-pressed="true">Voltar</a>
        </div>
        </form>
    </div>

    {% endblock %}
