{% extends 'base.html' %}

{% block content %}

    <div class="table_div">

        <h2 class="ui dividing header">Treinamentos</h2>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Nome</th>
                <th>Editar</th>
                <th>Visível</th>
                <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for treinamento in treinamentos %}
                    <tr class="center aligned">
                        <td>{{treinamento.nome}}</td>
                        <td><a class="links" href="{% url 'treinamento_edit' treinamento.cod_treinamento %}"><i class="pencil icon"></i></a></td>

                        {% if treinamento.ind_excluido == False %}
                        <td><a class="links" href="{% url 'treinamento_invisible' treinamento.cod_treinamento %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a class="links" href="{% url 'treinamento_visible' treinamento.cod_treinamento %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}
                        <td><a class="links" href="#" data-target="#{{treinamento.cod_treinamento}}" data-toggle="modal"><i class="trash icon"></i></a></td>
                    </tr>
                    <div class="modal fade" id={{treinamento.cod_treinamento}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border:2px solid #01305c61;">
                          <div class="modal-header">
                            <h3 class="modal-title aviso-titulo" style="color: #01305c;">Tem certeza que deseja excluir?<h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="ui button basic secondary" data-dismiss="modal">Não</button>
                              <a href="{% url 'treinamento_delete' treinamento.cod_treinamento %}">
                                <button type="button" class="ui button basic secondary">Sim</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>


                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/treinamento/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>

    {% endblock %}
