    {% extends 'base.html' %}

    {% block content %}

    <div class="section_container ui container">
        <form class="ui form" method="post" >{% csrf_token %}

            <h2 class="ui dividing header">Nova Atividade de Capacitação</h2>
            <div class="two fields">
                <div class="field">
                  <label> {{ form.cod_area_conhecimento.label }}</label>
                  {{ form.cod_area_conhecimento }}
                </div>
                <div class="field">
                  <label>Objeto de Capacitação</label>
                  {{ form.treinamento }}
                  </select>
                </div>
            </div>
            {% if erro_sugestao %}
            <small class="text-danger" id="erro_sugestao">
              {{ erro_sugestao }}
            </small>
            {% endif %}
            {% if necessidade.treinamento == -1 %}
              <div class="field" id="sugestao">
            {% else %}
              <div class="field" id="sugestao" style="display: none">
            {% endif%}
              <label>Especifique o objeto de capacitação</label>
              {% if txt_descricao %}
              <input type="text" name="txt_descricao" value={{txt_descricao}} id="descricao_necessidade">
              {% elif necessidade == None %}
              <input type="text" name="txt_descricao" id="descricao_necessidade">
              {% elif necessidade.txt_descricao != None %}
              <input type="text" name="txt_descricao" value="{{necessidade.txt_descricao}}" id="descricao_necessidade">
              {% else %}
              <input type="text" name="txt_descricao" id="descricao_necessidade">
              {% endif %}
            </div>
            <div class="four fields">
                <div class="field">
                    {{ form.cod_modalidade.errors  }}
                    <label>Modalidade</label>
                    {{ form.cod_modalidade }}
                </div>
                <div class="field">
                    {{ form.cod_nivel.errors  }}
                    <label>Nível</label>
                    {{ form.cod_nivel  }}
                </div>
                <div class="field">
                    <label>Carga Horária Sugerida</label>
                    {{ form.hor_duracao }}
                    <small class="text-danger">
                      {{ form.hor_duracao.errors }}
                    </small>
                </div>
                <div class="field">
                    <label>Tipo</label>
                    {{ form.cod_tipo_treinamento }}
                    <small class="text-danger">
                      {{ form.cod_tipo_treinamento.errors }}
                    </small>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Prioridade</label>
                    {{ form.cod_prioridade }}
                    <small class="text-danger">
                      {{ form.cod_prioridade.errors }}
                    </small>
                </div>
                <div class="field">
                    <label>Quantidade de Servidores</label>
                    {{ form.qtd_servidor}}
                    <small class="text-danger">
                      {{ form.qtd_servidor.errors }}
                    </small>
                </div>
                <div class="field">
                  <label>Objetivo Prioritário</label>
                  {{ form.cod_objetivo_treinamento }}
                </div>
            </div>
            <div class="field">
                <label>Justificativa</label>
                {{ form.justificativa }}
                <small class="text-danger">
                  {{ form.justificativa.errors }}
                </small>
            </div>
            <div class="field">
              <label>Ementa</label>
              {{ form.ementa }}
              <small class="text-danger">
                {{ form.ementa.errors }}
              </small>
            </div>
            <div class="field">
              <label>{{ form.treinamento_externo }} Atividade de capacitação externa (congressos, seminários, palestras, etc)</label>
              <small class="text-danger">
                {{ form.treinamento_externo.errors }}
              </small>
            </div>
            {% if erro_valor_estimado %}
            <small class="text-danger" id="erro_valor_estimado">
              {{ erro_valor_estimado }}
            </small>
            {% endif %}
            {% if necessidade.treinamento_externo == True %}
              <div class="field" id="valor_estimado">
            {% else %}
              <div class="field" id="valor_estimado" style="display: none">
            {% endif %}
              <label>Valor Estimado Unitário</label>
              {% if necessidade == None %}
              <input type="number" name="valor_estimado" id="descricao_necessidade">
              {% elif necessidade.valor_estimado != None %}
              <input type="number" name="valor_estimado" value="{{necessidade.valor_estimado}}" id="descricao_necessidade">
              {% else %}
              <input type="number" name="valor_estimado" id="descricao_necessidade">
              {% endif %}
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
            <a href="/necessidade/"  class="ui button basic secondary" role="button" aria-pressed="true">Voltar</a>
        </form>
    </div>

    {% endblock %}
