{% extends 'base.html' %}

{% block content %}

    <div class="table_div">

        {% if necessidade.cod_treinamento.cod_treinamento != -1 %}
            <h2 class="ui dividing header">{{ necessidade.cod_treinamento.nome }}</h2>
        {% else %}
           <h2 class="ui dividing header">{{ necessidade.txt_descricao }}</h2>
        {% endif %}

        <br>
        <div class="ui three column very relaxed grid">
            <div class="column">
                <strong>Código da Necessidade:</strong>
                <p>{{ necessidade.cod_necessidade }}</p>
                <strong>Objeto da Capacitação:</strong>
                {% if necessidade.cod_treinamento.cod_treinamento != -1 %}
                <p>{{ necessidade.cod_treinamento.nome }}</p>
                {% else %}
                <p>{{ necessidade.txt_descricao }}</p>
                {% endif %}
                <strong>Área de Conhecimento:</strong>
                <p>{{ necessidade.cod_area_conhecimento }}</p>
            </div>
            <div class="column">
                <strong>Plano de Capacitação:</strong>
                <p>{{ necessidade.cod_necessidade_orgao.cod_plano_capacitacao }}</p>
                <strong>Modalidade</strong>
                <p>{{ necessidade.cod_modalidade }}</p>
                <strong>Nível:</strong>
                <p>{{ necessidade.cod_nivel }}</p>
                <strong>Carga Horária Sugerida:</strong>
                <p>{{ necessidade.hor_duracao }}</p>
                <strong>Tipo:</strong>
                <p>{{ necessidade.cod_tipo_treinamento }}</p>
                <strong>Prioridade:</strong>
                <p>{{ necessidade.cod_prioridade }}</p>
                <strong>Quantidade de Servidores:</strong>
                <p>{{ necessidade.qtd_servidor }}</p>
                <strong>Objetivo:</strong>
                <p>{{ necessidade.cod_objetivo_treinamento }}</p>
            </div>
            <div class="column">
                <strong>Usuário</strong>
                <p>{{ necessidade.cod_usuario.username }}</p>
            </div>
        </div>
        <br>
        <a href="/necessidade/"><button class="ui button basic secondary">Voltar</button></a>
    </div>

    {% endblock %}
