{% extends 'base.html' %}

{% block content %}

{% if subordinados and estado == False %}
    <div style="padding-left: 5%; padding-bottom: 0%" class="table_div">
      <div class="content">
        <h2 style="float: left;" class="ui header">Órgãos subordinados</td>
        </h2>
      </div>
    </div>
    <div style="padding-bottom:0%" class="table_div">
      <br>
      <table class="ui celled padded table">
        <thead>
          <tr class="center aligned">
            <th>Órgão Subordinado</th>
            <th>Estado de envio</th>
            <th>Importar</th>
          </tr>
        </thead>
        <tbody>
        {% for subordinado in subordinados %}
          <tr class="center aligned">
              <td>{{subordinado.nome}}</td>
              <td>
                {% if subordinado.estado == True %}
                <i class="check icon"></i>
                {% else %}
                <i class="delete icon"></i>
                {% endif %}
              </td>
              <td>
                {% if subordinado.importado == True %}
                  Já foi importado!
                {% elif subordinado.estado == True %}
                  <a href="{% url 'importar_necessidade' pk=subordinado.cod_necessidade_orgao pk_atual=cod_necessidade_orgao%}">Importar</a>
                {% else %}
                  Aguarde o envio
                {% endif %}
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
  {% endif %}
  
  {% if estado %}
  <div style="padding-left: 5%; padding-bottom: 0%" class="table_div">
      <div class="content">
          <h2 style="float: left;" class="ui header">Demandas de capacitação solicitadas para {{user.profile.orgao_ativo}}</td>
          </h2>
      </div>
  </div>
  <div style="padding-bottom:0%" class="table_div">
      <br>
      <table class="ui celled padded table">
          <thead>
              <tr class="center aligned">
              <th>Órgão</th>
              <th>Área de Conhecimento</th>
              <th>Ação de Capacitação</th>
              <th>Quantidade de Servidores</th>
              <th>Nível</th>
              <th>Carga Horária Sugerida</th>
              <th>Modalidade</th>
              <th>Prioridade</th>
              <th>Ver</th>
              {% if is_gestor%}
              <th>Aprovado</th>
              {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for necessidade in necessidades %}
                  <tr class="center aligned">
                      <td>{{necessidade.cod_orgao_origem}}</td>
                      <td>{{necessidade.cod_area_conhecimento}}</td>
                      {% if necessidade.cod_treinamento.cod_treinamento == -1 %}
                      <td>{{necessidade.txt_descricao}}</td>
                      {% else %}
                      <td>{{necessidade.cod_treinamento.nome}}</td>
                      {% endif %}
                      <td>{{necessidade.qtd_servidor}}</td>
                      <td>{{necessidade.cod_nivel}}</td>
                      {% if necessidade.hor_duracao %}
                      <td>{{necessidade.hor_duracao}}</td>
                      {% else %}
                      <td>----</td>
                      {% endif %}
                      <td>{{necessidade.cod_modalidade}}</td>
                      <td>{{necessidade.cod_prioridade}}</td>
                      <td><a class="links" href="{% url 'necessidade_show' necessidade.cod_necessidade %}"><i class="search icon"></i></a></td>
                      {% if is_gestor %}
                      <th>
                        {% if necessidade.aprovado == True %}
                        <i class="check icon"></i>
                        {% else %}
                        <i class="delete icon"></i>
                        {% endif %}
                      </th>
                      {% endif %}
                  </tr>
              {% endfor %}

          </tbody>
      </table>
      <br><br>
      <div class="alert alert-info" role="alert">
          {% if superior %}
          As demandas de {{user.profile.orgao_ativo}} foram encaminhadas para {{superior}}.
          Se necessário, entre em contato com o titular de {{superior}} para realizar eventuais ajustes.  
          {% else %}
          O relatório de demandas de capacitação de {{user.profile.orgao_ativo}} já foi encaminhado para o ILB.
          <br>
          Agradecemos sua participação!
          {% endif %}
      </div>
  </div>

  {% elif not necessidades %}
    <div style="padding-left: 5%; padding-bottom: 4%" class="table_div">
        <div class="content">
            <h2 style="float: left;" class="ui header">Demandas de capacitação solicitadas para {{user.profile.orgao_ativo}}</h2>
        </div>
    </div>
    <div style="padding-left: 5%; padding-bottom: 0%">
        <div style="width:80%" class="ui warning message">
        
        {% if pode_registrar_demandas %}
          Ainda não foi registrada nenhuma demanda de capacitação para {{user.profile.orgao_ativo}}.<br><br>
          {% if subordinados %}
          Clique no botão abaixo para realizar um pedido, ou importe pedidos de órgãos subordinados, se houver.        
          {% else %}
          Clique no botão abaixo para realizar um pedido.
          {% endif %}
        {% else %}
          Não foi registrada nenhuma demanda de capacitação para {{user.profile.orgao_ativo}}.
        {% endif %}

        </div>
    </div>
    {% if pode_registrar_demandas %}
    <div class="table_div">
        <a href="/necessidade/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>
    {% endif %}
    {% else %}
    <div style="padding-left: 5%; padding-bottom: 0%" class="table_div">
        <div class="content">
            <h2 style="float: left;" class="ui header">Demandas de capacitação solicitadas para {{user.profile.orgao_ativo}}</td>
            </h2>
        </div>
    </div>
    <div style="padding-bottom:0%" class="table_div">
        <br>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Órgão</th>
                <th>Área de Conhecimento</th>
                <th>Objeto de Capacitação</th>
                <th>Quantidade de Servidores</th>
                <th>Nível</th>
                <th>Carga Horária</th>
                <th>Modalidade</th>
                <th>Prioridade</th>
                <th>Ver</th>
                {% if is_gestor%}
                <th>Aprovado</th>
                <th>Editar</th>
                <th>Excluir</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for necessidade in necessidades %}
                    <tr class="center aligned">
                        <td>{{necessidade.cod_orgao_origem}}</td>
                        <td>{{necessidade.cod_area_conhecimento}}</td>
                        {% if necessidade.cod_treinamento.cod_treinamento == -1 %}
                        <td>{{necessidade.txt_descricao}}</td>
                        {% else %}
                        <td>{{necessidade.cod_treinamento.nome}}</td>
                        {% endif %}
                        <td>{{necessidade.qtd_servidor}}</td>
                        <td>{{necessidade.cod_nivel}}</td>
                        {% if necessidade.hor_duracao %}
                        <td>{{necessidade.hor_duracao}}</td>
                        {% else %}
                        <td>----</td>
                        {% endif %}
                        <td>{{necessidade.cod_modalidade}}</td>
                        <td>{{necessidade.cod_prioridade}}</td>
                        <td><a class="links" href="{% url 'necessidade_show' necessidade.cod_necessidade %}"><i class="search icon"></i></a></td>
                        {% if is_gestor %}
                        <th>
                          {% if necessidade.aprovado == True %}
                          <a class="links" href="{% url 'necessidade_approve' necessidade.cod_necessidade %}"><i class="check icon"></i></a>
                          {% else %}
                          <a class="links" href="{% url 'necessidade_disapprove' necessidade.cod_necessidade %}"><i class="delete icon"></i></a>
                          {% endif %}
                        </th>
                        <td><a class="links" href="{% url 'necessidade_edit' necessidade.cod_necessidade %}"><i class="pencil icon"></i></a></td>
                        {% if necessidade.cod_orgao_origem == necessidade.cod_necessidade_orgao.cod_orgao%}
                          <td><a class="links" href="#" data-target="#{{necessidade.cod_necessidade}}" data-toggle="modal"><i class="trash icon"></i></a></td>
                        {% else %}
                          <td><a class="links"><i class="lock icon"></i></a></td>
                        {% endif %}
                      {% endif %}
                    </tr>
                    <div class="modal fade" id={{necessidade.cod_necessidade}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border:2px solid #01305c61;">
                          <div class="modal-header">
                            <h3 class="modal-title aviso-titulo" style="color: #01305c;">Tem certeza que deseja excluir?<h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="ui button basic secondary" data-dismiss="modal">Não</button>
                              <a href="{% url 'necessidade_delete' necessidade.cod_necessidade %}">
                                <button type="button" class="ui button basic secondary">Sim</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}

            </tbody>
        </table>
        <br>
    </div>
    <div class="table_div">
      <h1>
        {{necessidades.first.cod_necessidade.cod_necessidade_orgao}}
      </h1>
        <a href="/necessidade/new/"><button class="ui button basic secondary">Novo</button></a>
        <button class="ui button basic secondary" data-toggle="modal" data-target="#confirm-submit">
          {% if superior %}
            Enviar para {{ superior }}
          {% else %}
            Concluir relatório e enviar demandas para o ILB
          {% endif %}
        </button>
      <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border:2px solid #01305c61;">
              <div class="modal-header">
                <h3 class="modal-title aviso-titulo" style="color: #01305c;">
                  {% if superior %}
                  Após o envio para {{ superior }}, não será possível modificar ou incluir novas demandas para {{user.profile.orgao_ativo}}
                  {% else %}
                  Após enviar para o ILB, não será possível modificar ou incluir novas demandas para {{user.profile.orgao_ativo}}
                  {% endif %}

                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4 class="aviso-corpo" style="color:red;">
                  {% if superior %}
                    As demandas serão encaminhadas para avaliação do titular de {{superior}} antes de serem encaminhadas ao ILB.
                  {% else %}
                    Concluir relatório e enviar demandas para o ILB
                  {% endif %}
                  
                </h4>
                  <h6 style="color:red;">
                    {%if total_necessidade > 0 %}
                    {{ total_necessidade }} pedido(s) de capacitação marcados como NÃO APROVADO(S) não serão encaminhados.
                    {% endif %}
                  </h6>
                  {% for subordinado in subordinados %}
                    {% if subordinado.importado == False %}
                      <h6 style="color:red;">
                        Não foram importados pedidos de {{subordinado.nome}}
                      </h6>
                    {% endif%}
                  {% endfor %}

                  <b>Deseja concluir o pedido de demandas de capacitação para {{user.profile.orgao_ativo}}?</b>
              </div>
              <div class="modal-footer">
                <button type="button" class="ui button basic secondary" data-dismiss="modal">Não, ainda tenho alterações a fazer</button>
                <a href="{% url 'necessidade_orgao_close' necessidades.first.cod_necessidade_orgao.cod_necessidade_orgao %}">
                  <button type="button" class="ui button basic secondary">
                    Sim, envie minhas demandas para
                    {% if superior %}
                    {{superior}} 
                    {% else %}
                    o ILB
                    {% endif %}
                  </button>
                </a>
              </div>
            </div>
          </div>
      </div>
      {% endif %}
    </div>
    {% endblock %}
