{% extends 'base.html' %}

{% block content %}

    <div class="table_div">
        {% if orgao %}
        <h2 class="ui dividing header">Usuários do {{orgao}}</h2>
        {% else %}
        <h2 class="ui dividing header">Usuários do Sistema</h2>
        {% endif %}
        <form class="ui form" method="post">{% csrf_token %}
            <div class="two fields">
                <div class="select_orgao field">
                    <label>Filtrar por orgão</label>
                    <select name="orgao" id="" onchange="this.form.submit()">
                        <option value="">---------</option>
                        {% for orgao in orgaos %}
                            <option value="{{orgao.cod_orgao}}" {% if orgao.cod_orgao == orgao_escolhido %} selected {% endif %}>{{orgao}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        {% if profiles %}
          <table class="ui celled padded table">
              <thead>
                  <tr class="center aligned">
                  <th>Nome</th>
                  <th>Admin</th>
                  <th>Orgãos</th>
                  </tr>
              </thead>
              <tbody>
                  {% for profile in profiles %}
                      <tr class="center aligned">
                          <td> <a style="color: black;" href="/usuarios/{{profile.id}}/edit/">{{profile.user.username}}</a></td>
                          <td>
                            {% if profile.is_admin == True %}
                            <a href="{% url 'usuario:admin_disapprove' profile.id %}"><i class="check icon"></i></a>
                            {% else %}
                            <a href="{% url 'usuario:admin_approve' profile.id %}"><i class="delete icon"></i></a>
                            {% endif %}
                          </td>
                          <td> <a href="/usuarios/{{profile.id}}/orgao/"> <i class="university icon"></i> </a></td>

                      </tr>
                  {% endfor %}

              </tbody>
          </table>
        {% else %}
          <div style="padding-left: 5%; padding-bottom: 2%; padding-top: 2%; margin-bottom: 0px;">
              <div style="width:90%" class="ui warning message">
                Não existem gestores para este orgão!<br><br>
                Para adicionar um ou mais gestores ao orgão, clique no botão abaixo.
                <br><br>
                <div class="center aligned">
                  <a href="{% url 'gestores_orgao' orgao_escolhido %}"><button class="ui primary button">Adicionar gestores</button></a>
                </div>
              </div>
          </div>
        {% endif%}
        <br>
        <a href="/usuarios/new/"><button class="ui button basic secondary">Novo usuário</button></a>
    </div>

    {% endblock %}
