{% extends 'base.html' %}

{% block content %}
    <div class="table_div">
        <div  style="padding-top: 8%;" class="ui vertical masthead center aligned segment">

            <div  class="ui text container">
              <h1 id="header-home" class="ui header">
                Capacita 2.0
              </h1>
              <h2 id="sub-header-home">Sistema de Levantamento de Demandas de Capacitação</h2>

              <br><br>

                    <a id="link-home" class="ui big primary button" href="/necessidade/">
                        Consultar ou realizar pedidos de capacitação
                    </a>
                    <br><br>
                    <p>
                    O prazo para envio de demandas ao ILB se encerra em 18/10/2019
                    </p>
            </div>

          </div>
    </div>

    <div align='center'>
      <h3>Dúvidas, reclamações ou sugestões</h3>
      <p>
        <img class="img-duvidas" src="static/images/email.png">
        <a href="mailto:capacita_suporte@interlegis.leg.br" target="_top">capacita_suporte@interlegis.leg.br</a>
      </p>
      <p><img class="img-duvidas" src="static/images/call.png">Cláudio Cunha (1395)</p>
      <p><img class="img-duvidas" src="static/images/call.png">Matheus Garcia (4221)</p>
    </div>


{% endblock %}
