{% extends 'base.html' %}

{% block content %}
<style>
    img {
        text-align:center !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 1px solid;
        max-width: 100% !important;
        padding: 5px;
    }
    .sumarioP{
        margin-bottom: 0 !important;
        font-size: 17px;
    }
    .titleManualCapacita{
        text-align: center;
        margin-bottom: 10px !important;
    }
</style>
<div class="table_div alinhamentoConteudo">
    <h1 class="ui dividing header titleManualCapacita" id="manualDoCapacita">Manual do Capacita (em elaboração)</h1>
    <h2>Sumário</h2>
    <p class="sumarioP"><a href="#introducaoCapacita">1. Introdução ao Capacita</a></p>
    <p class="sumarioP"><a href="#novidadesNovaVersao">2. Novidades da nova versão</a></p>
    <p class="sumarioP"><a href="#etapasTramitacaoPedidos">3. Etapas de tramitação de pedidos</a></p>
    <p class="sumarioP"><a href="#comoRegistrarDemandasCapacitacao">4. Como registrar demandas de capacitação</a></p>
    <p class="sumarioP"><a href="#atividadesRealizadasSEFREQ">5. (Exemplo Etapa 1) Atividades a serem realizadas pelo chefe do SEFREQ </a></p>
    <p class="sumarioP"><a href="#atividadesRealizadasCOAPES">6. (Exemplo Etapa 2) Atividades a serem realizadas pelo coordenador da COAPES </a></p>
    <p class="sumarioP"><a href="#atividadesRealizadasSEGP">7. (Exemplo Etapa 3) Atividades a serem realizadas pelo diretor da SEGP </a></p>
    <p class="sumarioP"><a href="#consideracoesFinais">8. Considerações Finais</a></p>
    <hr>
    <h2 id="introducaoCapacita">1. Introdução ao Capacita</h2>

    <p>O Capacita é um programa criado para padronizar o envio de demandas de capacitação das diversas unidades
    organizacionais do Senado para o ILB. É com base nessas demandas que será elaborado o Plano de Capacitação e
    Desenvolvimento de Servidores do Senado Federal (PCASF) para o ano de 2020.</p>

    <p>A grande vantagem de ter sua demanda incluída no PCASF é uma maior agilidade em sua execução, uma vez que as
    ações de capacitação nele contidas já foram previamente avaliadas e aprovadas por um conselho, e por isso possuem
    autorização prévia de despesa.</p>

    <p>
    Vale ressaltar, no entanto, que as demandas de capacitação são apresentadas como sugestões, e sua inclusão no
    PCASF dependerá, além de disponibilidade orçamentária, de sua pertinência com as atribuições do cargo ou setor e do
    alinhamento da ação de capacitação com os objetivos estratégicos do Senado. Por isso é importante que cada demanda
    apresentada seja adequadamente justificada no sistema.</p>
    <hr>
    <h2 id="novidadesNovaVersao">2. Novidades da nova versão</h2>

    <p>A principal novidade dessa nova versão é que as demandas de capacitação podem ser registradas por titulares de
    setores em níveis hierárquicos mais baixos, sendo sucessivamente submetidas aos níveis superiores, onde poderão ser
    endossadas ou não, ou mesmo sofrerem ajustes. </p>

    <p>Somente ao chegar ao titular máximo do órgão (normalmente diretor de secretaria) é que será permitido o envio da
    proposta consolidada ao ILB. </p>

    <p>Logo na tela inicial é exibido um gráfico que permite acompanhar a tramitação da proposta até chegar ao ILB.</p>

    <p id="etapasTramitacaoPedidos">Para fins de exemplo, veja como aparecem as etapas a serem percorridas pelo serviço SEFREQ, subordinado à COAPES,
    que está na SEGP</p>
    <hr>
    <h2>3. Etapas de tramitação de pedidos</h2>

    <h4>Etapa 1: antes do envio de pedidos do SEFREQ</h4>
    <img src='/static/images/manual/acompanhamento-sefreq-etapa1.png'>

    <h4>Etapa 2: após o envio de pedidos do SEFREQ para a COAPES</h4>
    <img src='/static/images/manual/acompanhamento-sefreq-etapa2.png'>

    <h4>Etapa 3: após o envio de pedidos da COAPES para a SEGP</h4>
   <img src='/static/images/manual/acompanhamento-sefreq-etapa3.png'>
    <h4>Etapa 4: após o envio de pedidos da SEGP para o ILB</h4>
   <img src='/static/images/manual/acompanhamento-sefreq-etapa4.png'>

    <p>No caso de gabinetes parlamentares, o procedimento continua o mesmo, isto é, as demandas são encaminhadas ao ILB diretamente
    pelos chefes de gabinete, sem intermediários.</p>

    <p><u><b>É importante ressaltar que o prazo para envio de demandas a que o sistema se refere é para o envio final para o ILB.</b></u></p>
    <hr>
    <h2 id="comoRegistrarDemandasCapacitacao">4. Como registrar demandas de capacitação</h2>

    Vamos demonstrar a seguir como é feito o preenchimento de demandas de capacitação iniciando no setor SEFREQ até o envio para o ILB.
    <hr>
    <h2 id="atividadesRealizadasSEFREQ">5. Atividades a serem realizadas pelo chefe do SEFREQ</h2>

    O responsável pelo preenchimento de demandas do SEFREQ deverá clicar no botão
   <img src='/static/images/manual/botao_registrar_demandas_sefreq.png'>

    Em seguida, terá acesso a interface de realização de pedidos, onde inicialmente terá a informação de que ainda não realizou nenhuma demanda.
   <img src='/static/images/manual/visao_inicial_sefreq.png'>

    <p>Ao clicar no botão "Novo", será aberto um formulário onde ele poderá registrar a demanda desejada.</p>
    <img src='/static/images/manual/formulario_registro_demandas.png'>

    <p>Todos os campos são obrigatórios e devem ser informados para que a demanda seja registrada no sistema.<p>
    <p>Esse procedimento deve ser repetido para cada nova demanda de capacitação a ser apresentada.</p>

    <p>As demandas registradas são exibidas em uma tabela, e podem ser modificadas ou mesmo excluídas,
    mas somente enquanto não forem submetidas ao órgão superior (no caso, à COAPES).
    <img src='/static/images/manual/relacao_demandas_sefreq_com_botoes.png'>

    <p>Quando todas as demandas do SEFREQ já tiverem sido cadastradas no sistema, devem ser encaminhadas para a COAPES clicando no botão
        "Enviar para COAPES". O sistema irá mostrar a seguinte mensagem:<p>

    <img src='/static/images/manual/confirmacao_envio_coapes.png'>

    <p>Caso não haja pendências, basta confirmar, e os pedidos já estarão disponíveis para consulta pelo coordenador da COAPES.</p>
    <hr>
    <h2 id="atividadesRealizadasCOAPES">6. Atividades a serem realizadas pelo coordenador da COAPES</h2>

    <p>Ao acessar o Capacita, o coordenador da COAPES terá uma visão similar ao do chefe do SEFREQ, com a diferença de que
    agora ele irá realizar pedidos em nome de sua coordenação.</p>

    <p>A principal diferença em termos de funcionalidade é que, para fazê-lo, ele poderá "importar" os pedidos que forem
    apresentados pelos órgãos subordinados, endossando-os ou não, bem como fazer ajustes ou mesmo incluir novas demandas.</p>

    <p>O sistema irá exibir uma relação de órgãos subordinados, e para aqueles que tiverem enviado seu pedido de
            capacitação estará habilitada a opção de "Importar".</p>
    <img src='/static/images/manual/visao_coapes_apos_envio_sefreq.png'>


    <p>Após importar os pedidos do SEFREQ, estes passam a compor a relação de demandas da COAPES tal como foram enviados pelo titular
        daquela área, como pode ser visto a seguir:</p>

       <img src='/static/images/manual/demandas_coapes_apos_importar_sefreq.png'>

    <p>Por padrão, todas as demandas importadas são automaticamente endossadas pelo titular do órgão importador.</p>
    <p>Para fins de exemplo,
        suponhamos que o coordenador da COAPES não esteja interessado no treinamento em "Educação Corporativa". Nesse caso,
        basta clicar sobre o ícone na coluna "Aprovado" que o treinamento não terá mais seu endosso e, consequentemente,
        não conste na relação de demandas de capacitação da COAPES.</p>

   <img src='/static/images/manual/demandas_coapes_apos_importacao_sefreq_sem_botoes.png'>

    <p>Suponhamos agora que ele deseje reduzir a carga horária desejada do curso "Gestão de Conhecimento", cadastrada como sendo
        8 horas pelo SEFREQ, para apenas 4 horas. Nesse caso, basta clicar sobre o ícone do lápis na coluna "Editar", fazer a
        alteração desejada e salvar.</p>
    <p>A nova visão de demandas da COAPES passaria então a constar como na imagem a seguir:</p>

   <img src='/static/images/manual/demandas_coapes_modificacao_sefreq.png'>

    <p>O titular da COAPES também pode incluir novas demandas. Bastaria clicar no botão "Novo" e informar os campos desejados,
        de forma similar ao já apresentado.</p>
    <p>Após incluir a demanda para um curso de "Criação de Macros no Excel", a visão de demandas da COAPES passaria a ser a seguinte:</p>

    <img src='/static/images/manual/demandas_coapes_apos_inclusao.png'>

    <p>Após revisar as demandas de todos os órgãos subordinados e incluir suas próprias, o titular da COAPES deve submeter o pedidos em
    nome da coordenação para a secretaria (no caso, SEGP).</p>

    <p>Nesse caso, o sistema irá alertar que há 1 pedido de capacitação que não está aprovado (e consequentemente não será encaminhado
        como parte das demandas da COAPES), e também que há órgãos cujo pedido não foi importado. O grande número de órgãos aqui
        listados é que, neste exemplo, estamos importando apenas pedidos de um serviço, SEFREQ. Na prática, o procedimento aqui
        demonstrado deve ser feito para todos os órgãos subordinados à COAPES que enviaram seus pedidos de capacitação para a coordenação. </p>
    <img src='/static/images/manual/confirmacao_envio_segp.png'>

    <p>Após a confirmação do envio, o sistema irá permitir apenas a consulta das demandas enviadas para a COAPES, sem possibilidades
        de novas modificações.
    </p>

   <img src='/static/images/manual/demandas_coapes_apos_nao_aprovacao_sefreq.png'>
    <hr>
    <h2 id="atividadesRealizadasSEGP">7. Atividades a serem realizadas pelo diretor da SEGP</h2>

    <p>De maneira análoga ao já apresentado, o diretor do SEGP terá acesso a uma relação de órgãos subordinados que lhe encaminharam
    demandas de capacitação, e poderá então importar os pedidos de cada um deles, criando a relação de demandas que será encaminhadas
    ao ILB em nome de sua secretaria.</p>

    <img src='/static/images/manual/orgaos_subordinados_segp.png'>

    <p>No caso deste exemplo, há apenas demandas enviadas pela COAPES, as quais, após importadas, são incluídas como demandas da SEGP.</p>

    <p>Observe que a demanda de "Educação Corporativa" que não foi aprovada pelo coordenador da COAPES não consta na relação.</p>

    <img src='/static/images/manual/visao_segp_apos_importar_coapes.png'>

    <p>Novamente, o titular da SEGP pode reprovar as demandas que achar inadequadas, fazer ajustes ou mesmo incluir novas demandas.</p>
    <p>Como exemplo, após incluir nova demanda para curso de "Desenvolvimento de Pessoas", a relação de demandas da SEGP fica a seguinte:</p>

   <img src='/static/images/manual/visão_segp_apos_nova_demanda_com_botoes.png'>

    <p>Após assegurar que todas as demandas da SEGP foram devidamente incluídas, a etapa final é o envio das mesmas para o ILB, o que
        pode ser feito clicando em "Concluir relatório e enviar demandas para o ILB".</p>

    <p>O sistema irá alertar quanto a eventuais órgãos cujas demandas não tiverem sido importadas ou não aprovadas. Se estiver tudo OK
        é só confirmar.
    </p>
   <img src='/static/images/manual/confirmacao_envio_ilb.png'>

    <p>Uma vez enviadas as demandas para o ILB, elas já estarão disponíveis para inclusão no PCASF.</p>

    <img src='/static/images/manual/visao_segp_apos_envio_ilb.png'>
    <hr>
    <h2 id="consideracoesFinais">8. Considerações finais</h2>

    Lembre-se: quanto melhor for o alinhamento entre uma ação de capacitação demandada e os objetivos estratégicos, melhores as chances dela ser incluída no PCASF.

    Em caso de dúvidas, sugestões de melhoria ou dificuldades de acesso, entre em contato conosco pelo e-mail <a href='mailto:capacita_suporte@interlegis.leg.br'>
    capacita_suporte@interlegis.leg.br</a> ou por um dos ramais indicados na página inicial do Capacita.
<hr>
    <a class="btn btn-primary float-right" href="#manualDoCapacita">Subir</a>

</div>
{% endblock %}
