{% extends 'base.html' %}

{% block content %}

    <div class="table_div">

        <h2 class="ui dividing header">Planos de Capacitação</h2>
        <p>Só pode existir um plano de capacitação habilitado</p>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Período</th>
                <th>Habilitado</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Visível</th>
                <th>Excluir</th>
                </tr>
            </thead>
            <tbody>

                {% for plano in planos %}
                    <tr class="center aligned"
                    {% if plano.plano_habilitado%}
                      style="font-weight:bolder;  background-color: #c3e2ffc4;"
                    {% endif %}
                    >
                        <td
                        >{{plano.ano_plano_capacitacao}}</td>
                        <td>
                          {% if plano.plano_habilitado%}
                            <i class="check icon"></i>
                          {% else %}
                            <i class="delete icon"></i>
                          {% endif %}
                        </td>
                        <td><a class="links" href="{% url 'plano_show' plano.cod_plano_capacitacao %}"><i class="search icon"></i></a></td>
                        <td><a class="links" href="{% url 'plano_edit' plano.cod_plano_capacitacao %}"><i class="pencil icon"></i></a></td>
                        {% if plano.ind_excluido == False %}
                        <td><a class="links" href="{% url 'plano_invisible' plano.cod_plano_capacitacao %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a class="links" href="{% url 'plano_visible' plano.cod_plano_capacitacao %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}
                        <td><a class="links" href="#" data-target="#{{plano.cod_plano_capacitacao}}" data-toggle="modal"><i class="trash icon"></i></a></td>
                    </tr>
                    <div class="modal fade" id={{plano.cod_plano_capacitacao}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="border:2px solid #01305c61;">
                          <div class="modal-header">
                            <h3 class="modal-title aviso-titulo" style="color: #01305c;">Tem certeza que deseja excluir?<h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="ui button basic secondary" data-dismiss="modal">Não</button>
                              <a href="{% url 'plano_delete' plano.cod_plano_capacitacao %}">
                                <button type="button" class="ui button basic secondary">Sim</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}

            </tbody>
        </table>
        <br>
        <a href="/plano/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>

    <script>
        $("#id_cod_orgao").on('change', function() {
            $("form").submit();
        });
    </script>

    {% endblock %}
