{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Plano de Capacitação</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
</head>
<body>
    <div class="ui inverted menu">
        <div class="item">
            <img src="{% static 'images/senado.png' %}">
        </div>
        <a href="/plano/" class="item">Plano de Capacitação</a>
        <a class="item">Avaliação</a>
        <div class="ui dropdown item">
            Administração
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/necessidade/">Necessidade</a>
                <a class="item" href="/orgao/">Órgão</a>
                <div class="item">Área de Interesse</div>
            </div>
        </div>
        <div class="right menu">
            <div class="ui item">
                {{ user.username }}
            </div>
            <a class="ui item" href="/logout/">
                Sair
            </a>
        </div>
    </div>
    
        {% if user.is_authenticated %}
            {% block content %}
            {% endblock %}
        {% else %}
            <div class="ui container">
                <h4 class="ui dividing header">Você não está logado, por favor realize o login</h4>
                <a href="{% url 'login' %}">login</a>
            </div>
        {% endif %}
    
</body>
<script>
    
    $("#id_cod_orgao").on('change', function() {
        $("form").submit();
    });

    $('.ui.dropdown').dropdown();
        
</script>
</html>