
    {% extends 'novo_capacita/base.html' %}

    {% block content %}

    <div class="ui container">
        <form class="ui form" method="post">{% csrf_token %}
            
            <h4 class="ui dividing header">Nova Necessidade</h4>
            <div class="field">
                {{ form.txt_descricao.errors }}
                <label>Descrição</label>
                {{ form.txt_descricao }}
            </div>
            <div class="two fields">
                <div class="field">
                    {{ form.cod_plano_capacitacao.errors}}
                    <label>Plano de Capacitação</label>
                    {{ form.cod_plano_capacitacao}}
                </div>
                <div class="field">
                    {{ form.cod_iniciativa.errors }}
                    <label>Iniciativa</label>
                    {{ form.cod_iniciativa }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    {{ form.cod_prioridade.errors }}
                    <label>Prioridade</label>
                    {{ form.cod_prioridade }}
                </div>
                <div class="field">
                    {{ form.qtd_servidor.errors }}
                    <label>Quantidade de Servidores Efetivos</label>
                    {{ form.qtd_servidor}}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Área de Conhecimento</label>
                    <select id="areas" onchange="selectSub(this)">
                        <option></option>
                        {% for area in areas %}
                            <option value="{{area.cod_area_conhecimento}}">{{area.txt_descricao}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    {{ form.cod_sub_area_conhecimento.errors }}
                    <label>Sub-Área</label>
                    {{ form.cod_sub_area_conhecimento }}
                </div>
                <div class="field">
                    {{ form.cod_nivel.errors  }}
                    <label>Nível</label>
                    {{ form.cod_nivel  }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    {{ form.hor_duracao.errors }}
                    <label>Hora de Duração</label>
                    {{ form.hor_duracao }}
                </div>
                <div class="field">
                    {{ form.cod_turno.errors}}
                    <label>Turnos</label>
                    {{ form.cod_turno }}
                    <!-- {{ form.cod_turno }} -->
                </div>
                <div class="field">
                    {{ form.cod_mes.errors }}
                    <label>Mês</label>
                    {{ form.cod_mes  }}
                </div>
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
        </form>
    </div>

    {% endblock %}
