{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nova Necessidade</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_page.css' %}">
</head>
<body>
    <div class="ui inverted menu">
        <div class="item">
            <img src="{% static 'images/senado.png' %}">
        </div>
        <a class="item">Plano de Capacitação</a>
        <a class="item">Avaliação</a>
        <a class="item">Administração</a>
        <div class="right menu">
            <a class="ui item">
                Sair
            </a>
        </div>
    </div>
    <div class="ui container">
        <form class="ui form" method="post">{% csrf_token %}
            
            <h4 class="ui dividing header">Nova Necessidade</h4>
            <div class="field">
                <label>Descrição</label>
                {{ form.txt_descricao }}
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Plano de Capacitação</label>
                    {{ form.cod_plano_capacitacao}}
                </div>
                <div class="field">
                    <label>Iniciativa</label>
                    {{ form.cod_iniciativa }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Prioridade</label>
                    {{ form.cod_prioridade }}
                </div>
                <div class="field">
                    <label>Quantidade de Servidores Efetivos</label>
                    {{ form.cod_prioridade}}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Área de Conhecimento</label>
                    {{ form.cod_area_conhecimento }}
                </div>
                <div class="field">
                    <label>Nível</label>
                    {{ form.cod_nivel  }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Hora de Duração</label>
                    {{ form.hor_duracao }}
                </div>
                <div class="field">
                    <label>Turno</label>
                    {{ form.cod_turno  }}
                </div>
                <div class="field">
                    <label>Mês</label>
                    {{ form.cod_mes  }}
                </div>
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>