{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nova Necessidade</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
</head>
<body>
    <div class="ui inverted menu">
        <div class="item">
            <img src="{% static 'images/senado.png' %}">
        </div>
        <a href="/plano" class="item">Plano de Capacitação</a>
        <a class="item">Avaliação</a>
        <div class="ui dropdown item">
            Administração
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Necessidades</div>
                <div class="item">Órgãos</div>
                <div class="item">Hello</div>
            </div>
        </div>
        <div class="right menu">
            <a class="ui item">
                Sair
            </a>
        </div>
    </div>
    
    <div class="ui container">
        <form class="ui form" method="post">{% csrf_token %}
            
            <h4 class="ui dividing header">Nova Necessidade</h4>
            <div class="field">
                {{ form.txt_descricao.errors }}
                <label>Descrição</label>
                {{ form.txt_descricao }}
            </div>
            <div class="two fields">
                <div class="field">
                    {{ form.cod_plano_capacitacao.errors}}
                    <label>Plano de Capacitação</label>
                    {{ form.cod_plano_capacitacao}}
                </div>
                <div class="field">
                    {{ form.cod_iniciativa.errors }}
                    <label>Iniciativa</label>
                    {{ form.cod_iniciativa }}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    {{ form.cod_prioridade.errors }}
                    <label>Prioridade</label>
                    {{ form.cod_prioridade }}
                </div>
                <div class="field">
                    {{ form.qtd_servidor.errors }}
                    <label>Quantidade de Servidores Efetivos</label>
                    {{ form.qtd_servidor}}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    {{ form.cod_area_conhecimento.errors }}
                    <label>Área de Conhecimento</label>
                    {{ form.cod_area_conhecimento }}
                </div>
                <div class="field">
                    {{ form.cod_nivel.errors  }}
                    <label>Nível</label>
                    {{ form.cod_nivel  }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    {{ form.hor_duracao.errors }}
                    <label>Hora de Duração</label>
                    {{ form.hor_duracao }}
                </div>
                <div class="field">
                    {{ form.cod_turno.errors}}
                    <label>Turnos</label>
                    {{ form.cod_turno }}
                    <!-- {{ form.cod_turno }} -->
                </div>
                <div class="field">
                    {{ form.cod_mes.errors }}
                    <label>Mês</label>
                    {{ form.cod_mes  }}
                </div>
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
        </form>
    </div>
    <script>
        $('.ui.dropdown').dropdown();
    </script>
</body>
</html>
