{% extends 'novo_capacita/base.html' %}

{% block content %}

    <div class="table_div">

        <h4 class="ui dividing header">Órgãos</h4>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Nome</th>
                <th>Editar</th>
                <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                
                {% for orgao in orgaos %}
                    <tr class="center aligned">
                        <td>{{orgao.nome}}</td>
                        <td><a class="links" href="{% url 'orgao_edit' orgao.cod_orgao %}"><i class="pencil icon"></i></a></td>
                        <td><a class="links" href="{% url 'orgao_delete' orgao.cod_orgao %}"><i class="delete icon"></i></a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
        <a href="/orgao/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>

    {% endblock %}
