    {% extends 'capacita/base.html' %}

    {% block content %}

    <div class="ui container">
        <h3 class="ui dividing header">Área de Conhecimento</h3>
        <form class="ui form" method="post">{% csrf_token %}
            
            <div class="field">
                {{ form.txt_descricao.errors }}
                <label>Nome</label>
                {{ form.txt_descricao  }}
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
            <a href="/areas/"><button class="ui button basic secondary">Voltar</button></a>
            </div>
        </form>
    </div>

    {% endblock %}
