{% extends 'capacita/base.html' %}

{% block content %}

    <div style="padding-bottom: 150px;" class="table_div">

        <h3 class="ui dividing header">Áreas de Conhecimento</h3>
        <br>
        <form class="ui form" method="get" action="/areas" onchange="this.submit();">
            <div class="two fields">
                <div class="select_area field">
                    <label>Busca</label>
                    {{ filter.form.cod_area_conhecimento_id }}
                </div>
            </div>
        </form>
        <br>

        <table  id="areas" class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th class="one wide">Nome</th>
                {% if permissao == True %}
                <th class="one wide">Editar</th>
                <th class="one wide">Excluir</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for area_conhecimento in areas_conhecimento %}
                    <tr class="center aligned">
                        <td>{{area_conhecimento.txt_descricao}}</td>
                        {% if permissao == True %}
                        <td><a class="links" href="{% url 'area_edit' area_conhecimento.cod_area_conhecimento %}"><i class="pencil icon"></i></a></td>
                        <td><a class="links" href="{% url 'area_delete' area_conhecimento.cod_area_conhecimento %}"><i class="delete icon"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            {% if areas_conhecimento.has_other_pages %}
            <tfoot>
                <tr><th colspan="7">
                    <div class="ui right floated pagination menu">
                    {% if areas_conhecimento.has_previous %}
                    <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ areas_conhecimento.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% for i in areas_conhecimento.paginator.page_range %}
                    {% if areas_conhecimento.number == i %}
                        <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ i }}"><strong>{{ i }}</strong></a>
                    {% else %}
                        <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if areas_conhecimento.has_next %}
                    <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ areas_conhecimento.next_page_number }}">&raquo;</a>
                    {% else %}
                    <span class="item">&raquo;</span>
                    {% endif %}
                    </div>
                </th>
            </tr></tfoot>
        </table>
        {% endif %}
        <br>
        <a href="/area/new/"><button class="ui button basic secondary">Novo</button></a>
        <br>
        <br>
    </div>

    {% endblock %}
