{% extends 'base.html' %}

{% block content %}

    <div class="table_div">

        <h3 class="ui dividing header">Treinamentos Sugeridos</h3>

        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Sugestao de Treinamento</th>
                <th>Área de conhecimento</th>
                <th>Usuário</th>
                <th>Aprovar Treinamento</th>
                </tr>
            </thead>
            <tbody>

                {% for necessidade in necessidades %}
                    <tr class="center aligned">
                        <td>{{necessidade.txt_descricao}}</td>
                        <td>{{ necessidade.cod_area_conhecimento }}</td>
                        <td>{{necessidade.cod_usuario}}</td>
                        <form id="aprovar_curso" action="/avaliacao_cursos/" method="POST">{% csrf_token %}
                            <input name="txt" style="display: none;" type="text" class="ui primary button" value="{{ necessidade.txt_descricao }}">
                            <input name="treinamento_id" style="display: none;" type="number" class="ui primary button" value="{{ necessidade.cod_treinamento.cod_treinamento }}">
                            <input name="cod_necessidade" style="display: none;" type="number" class="ui primary button" value="{{ necessidade.cod_necessidade }}">
                            <td><input type="submit" class="avaliacao_submit ui primary button" value="Aprovar"></td>
                        </form>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>

    </div>

    {% endblock %}
