{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Capacita</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'js/dropdown.js' %}"></script> -->
</head>
<body>
    <div class="ui inverted menu">
        <div class="item">
            <img src="{% static 'images/senado.png' %}">
        </div>
        <a href="/plano/" class="item">Plano de Capacitação</a>
        <a class="item">Avaliação</a>
        <div class="ui dropdown item">
            Administração
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/necessidade/">Necessidade</a>
                <a class="item" href="/orgao/">Órgãos</a>
                <a class="item"  href="/tipo/">Tipos Plano Capacitação</a>
                <a class="item" href="/areas/">Áreas de Interesse</a>
                <a class="item" href="/usuarios/">Usuários</a>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="right menu">
            <div class="ui item">
                {{ user.username }}
            </div>
            <a class="ui item" href="{% url 'logout' %}">
                Sair
            </a>
        </div>
        {% endif %}
    </div>
    
    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% else %}
        <div class="ui container">
            <h4 class="ui dividing header">Você não está logado, por favor realize o login</h4>
            <a href="{% url 'cas_ng_login' %}">login</a>
        </div>
    {% endif %}
    
</body>
<script src="{% static 'js/semantic.min.js' %}"></script>
<script>
    
    $('.ui.dropdown').dropdown();
    $('.ui.accordion').accordion();
    $('.ui.checkbox.permitido').checkbox('set checked');
    $('.ui.checkbox.sem_permissao').checkbox('set unchecked');

    // $('ui.checkbox.permitido').change(function(){
    //     $.ajax({
    //     type: "POST",
    //     url: "/usuarios/permissao",
    //     data: {data : 'False'},
    //     success : function(data) {
    //       location.reload();
    //     },
    //     error : function(){
    //       alert("Erro ao alterar permissão");
    //       location.reload();
    //     }
    //   });
    // })

    // $('ui.checkbox.sem_permissao').change(function(){
    //     $.ajax({
    //     type: "POST",
    //     url: "/usuarios/permissao",
    //     data: {data : 'True'},
    //     success : function(data) {
    //       location.reload();
    //     },
    //     error : function(){
    //       alert("Erro ao alterar permissão");
    //       location.reload();
    //     }
    //   });
    // })

     $('input.sem_permissao').on('change', function(){
        // alert(this.value);
        $.ajax({
        type: "POST",
        url: "/usuarios/permissao/",
        data: {data : 'True', usuario_id : this.value},
        success : function(data) {
          location.reload();
        }
      });
    })

    $('input.permitido').on('change', function(){
        // alert(this.value);
        $.ajax({
        type: "POST",
        url: "/usuarios/permissao/",
        data: {data : 'False', usuario_id : this.value},
        success : function(data) {
          location.reload();
        }
      });
    })

    function selectSub(select){
        
        $("#id_cod_sub_area_conhecimento option").each(function(){
            $(this).hide();
        });

        var search = $("#id_cod_sub_area_conhecimento").val();
        select = $("#areas").options;

        var areas;

        $.getJSON("/api/subareas/", function(data){
            var subarea = null;
            areas = data;
            for(var i = 0; i < data.length; i++){
                if(data[i].cod_area_conhecimento_id == $("#areas").val() ){
                    subarea = data[i].cod_sub_area_conhecimento;
                    $("#id_cod_sub_area_conhecimento option").each(function(){
                        if($(this).val() == subarea){
                            $(this).show();
                        }
                    });
                }
            }

        });
    }


    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#subareas tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


</script>
</html>