{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Capacita</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'js/dropdown.js' %}"></script> -->
</head>
<body>
    <div class="ui inverted menu bgSenado">
        <div class="item">
            <img class="logoSenado" src="{% static 'images/logo_senado_federal.svg' %}">
        </div>
        {% if is_gestor %}
        <a class="item" href="/necessidade/">Treinamento</a>
        {% endif %}
        {% if is_admin %}
        <div class="ui dropdown item">
        Administração
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/plano/">Plano Capacitação</a>
                <a class="item" href="/orgao/">Órgãos</a>
                <a class="item" href="/usuarios/">Usuários</a>
                <!--<a class="item" href="/avaliacao_cursos">Treinamentos Sugeridos</a>-->
                <li class="divider"></li>
                <a class="item" href="/areas/">Áreas de Conhecimento</a>
                <a class="item" href="/treinamentos/">Treinamentos</a>
                <a class="item" href="/eventos/">Eventos</a>
                <a class="item"  href="/modalidade/">Modalidades de Treinamento</a>
                <a class="item"  href="/tipos_treinamento/">Tipos de Treinamento</a>
                <a class="item" href="/objetivos/">Objetivos de Treinamento</a>
            </div>
        </div>
        {% endif %}
        <div class="right menu dropdown show">
            {% if user.is_authenticated %}
            <a class="ui item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/logout/">Sair</a>
            </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% else %}
        <div class="ui container">
            <h4 class="ui dividing header">Você não está logado, por favor realize o login</h4>
            <a href="{% url 'cas_ng_login' %}">login</a>
        </div>
    {% endif %}

</body>
<script src="{% static 'js/semantic.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% if request.path == '/avaliacao_cursos/' %}
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
{% endif %}
</html>
