{% extends 'capacita/base.html' %}

{% block content %}

    <div class="table_div">

        <h4 class="ui dividing header">Eventos</h4>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                    <th>Nome</th>
                    {% if permissao == True %}
                        <th>Editar</th>
                        <th>Visível</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                
                {% for evento in eventos %}
                    <tr class="center aligned">
                        <td>{{evento.nome}}</td>
                        <td><a class="links" href="{% url 'evento_edit' evento.cod_evento %}"><i class="pencil icon"></i></a></td>
                        {% if evento.ind_excluido == False %}
                        <td><a class="links" href="{% url 'evento_delete' evento.cod_evento %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a class="links" href="{% url 'evento_undelete' evento.cod_evento %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
        <a href="/evento/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>

    {% endblock %}
