{% extends 'capacita/base.html' %}

{% block content %}

    <div class="table_div">
        <div  style="padding-top: 8%;" class="ui vertical masthead center aligned segment">
        
            <div  class="ui text container">
              <h1 id="header-home" class="ui header">
                Capacita 2.0
              </h1>
              <h2 id="sub-header-home">Plano de Capacitação do ILB</h2>
                
                    <a id="link-home" class="ui big primary button" href="/necessidade/
                    ">
                        Consultar ou solicitar pedidos de treinamento
                    </a>
            </div>
        
          </div>
    </div>

{% endblock %}
