{% extends 'capacita/base.html' %}

{% block content %}

    <div class="table_div">

        <h4 class="ui dividing header">Modalidades de Treinamento</h4>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                    <th>Nome</th>
                    {% if permissao == True %}
                        <th>Editar</th>
                        <th>Excluir</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                
                {% for modalidade in modalidades %}
                    <tr class="center aligned">
                        <td>{{modalidade.nome}}</td>
                        {% if permissao == True %}
                        <td><a class="links" href="{% url 'modalidade_edit' modalidade.cod_modalidade %}"><i class="pencil icon"></i></a></td>
                        <td><a class="links" href="{% url 'modalidade_delete' modalidade.cod_modalidade %}"><i class="delete icon"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
        <a href="/modalidade/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>

    {% endblock %}
