{% extends 'capacita/base.html' %}

{% block content %}

    {% if not necessidades %}
    <div style="padding-left: 5%; padding-bottom: 4%" class="table_div">
        <div class="content">
            <h2 style="float: left;" class="ui header">Treinamentos solicitados para {{user.profile.orgao.nome}}</h2>
        </div>
    </div>
    <div style="padding-left: 5%; padding-bottom: 0%">
        <div style="width:80%" class="ui warning message">Ainda não foi solicitado nenhum treinamento para {{user.profile.orgao.nome}}.
        <br><br>
        Clique no botão abaixo para realizar um pedido de treinamento
        </div>
    </div>
    <div class="table_div">
        <a href="/necessidade/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>
    {% else %}
    <div style="padding-left: 5%; padding-bottom: 0%" class="table_div">
        <div class="content">
            <h2 style="float: left;" class="ui header">PCASF {{necessidades.0.cod_plano_capacitacao}} - Treinamentos solicitados para {{user.profile.orgao.nome}}</td>
            </h2>
        </div>
    </div>
    <div style="padding-bottom:0%" class="table_div">
        <!--
        <div class="ui accordion field">
            <div class="title">
                <i class="dropdown icon"></i>
                Filtro
            </div>
            <div class="content">
                <form class="ui form" method="get">
                    <div class="three fields">
                        <div class="select_area field">
                            <label>Área de Conhecimento</label>
                            <select name="area" id="">
                                <option value="">-------------</option>
                                {% for area in areas %}
                                <option value="{{area.cod_area_conhecimento}}">{{area.txt_descricao}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label>Nível</label>
                            <select name="nivel" id="">
                                <option value="">-------------</option>
                                {% for nivel in niveis %}
                                <option value="{{nivel.cod_nivel}}">{{nivel.nome}}</option>
                                {% endfor %}
                                </select>
                        </div>
                        <div class="field">
                            <label>Plano de Capacitação</label>
                            <select name="plano" id="">
                                <option value="">-------------</option>
                                {% for plano in planos %}
                                <option value="{{plano.cod_plano_capacitacao}}">{{plano}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label>Quantidade aproximada de servidores</label>
                            <input type="text" name="qtd_servidor">
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui button basic secondary" type="submit">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>
        -->
        <br>

        <div>
            <h3 style="float: left;" class="ui dividing header">Necessidades</h3>
        </div>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Área de Conhecimento</th>
                <th>Treinamento</th>
                <th>Quantidade de Servidores</th>
                <th>Nível</th>
                <th>Carga Horária</th>
                <th>Modalidade</th>
                <th>Prioridade</th>
                <th>Ver</th>
                {% if is_gestor%}
                <th>Editar</th>
                <th>Excluir</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for necessidade in necessidades %}
                    <tr class="center aligned">
                        <td>{{necessidade.cod_area_conhecimento}}</td>
                        {% if necessidade.cod_treinamento.cod_treinamento == -1 %}
                        <td>{{necessidade.txt_descricao}}</td>
                        {% else %}
                        <td>{{necessidade.cod_treinamento.nome}}</td>
                        {% endif %}
                        <td>{{necessidade.qtd_servidor}}</td>
                        <td>{{necessidade.cod_nivel}}</td>
                        <td>{{necessidade.hor_duracao}}</td>
                        <td>{{necessidade.cod_modalidade}}</td>
                        <td>{{necessidade.cod_prioridade}}</td>

                        <td><a class="links" href="{% url 'necessidade_show' necessidade.cod_necessidade %}"><i class="search icon"></i></a></td>
                        {% if is_gestor %}
                        <td><a class="links" href="{% url 'necessidade_edit' necessidade.cod_necessidade %}"><i class="pencil icon"></i></a></td>
                        <td><a class="links" href="{% url 'necessidade_delete' necessidade.cod_necessidade %}"><i class="delete icon"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
    </div>
    <div class="table_div">
        <a href="/necessidade/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>
    {% endif %}
    {% endblock %}
