{% extends 'capacita/base.html' %}

{% block content %}
    
    <div class="table_div">

        {% if necessidade.curso == None %}
        <h2 class="ui dividing header">{{ necessidade.txt_descricao }}</h2>
        {% endif %}
        {% if necessidade.curso %}
        <h2 class="ui dividing header">{{ necessidade.curso }}</h2>
        {% endif %}
        
        <br>
        <div class="ui three column very relaxed grid">
            <div class="column">
                <strong>Necessidade ID:</strong>
                <p>{{ necessidade.cod_necessidade }}</p>
                <strong>Nome:</strong>
                <p>{{ necessidade.txt_descricao }}</p>
                <strong>Quantidade de Servidores:</strong>
                <p>{{ necessidade.qtd_servidor }}</p>
                <strong>Área de Conhecimento:</strong>
                <p>{{ necessidade.cod_sub_area_conhecimento.cod_area_conhecimento }}</p>
                <strong>Sub Área de Conhecimento:</strong>
                <p>{{ necessidade.cod_sub_area_conhecimento.txt_descricao }}</p>
            </div>
            <div class="column">
                <strong>Plano de Capacitação:</strong>
                <p>{{ necessidade.cod_plano_capacitacao }}</p>
                <strong>Prioridade:</strong>
                <p>{{ necessidade.cod_prioridade }}</p>
                <strong>Nível:</strong>
                <p>{{ necessidade.cod_nivel }}</p>
                <strong>Custo:</strong>
                <p>R$ {{ necessidade.custo }}</p>
                <strong>Modalidade de Treinamento</strong>
                <p>{{ necessidade.cod_modalidade }}</p>
            </div>
            <div class="column">
                <strong>Usuário</strong>
                <p>{{ necessidade.cod_usuario.username }}</p>
                <strong>Hora de duração:</strong>
                <p>{{ necessidade.hor_duracao }}</p>
                <strong>Evento:</strong>
                <p>{{ necessidade.cod_evento }}</p>
                {% if is_admin %}
                <strong>Aprovado</strong>
                <form class="ui form" action="" method="POST">{% csrf_token %}
                    <select style="width: 100px;" onchange="this.form.submit();" class="ui field" name="aprovado">
                        {% if necessidade.aprovado == True %}
                            <option value="True" selected>Sim</option>
                            <option value="False">Não</option>
                        {% endif %}
                        {% if necessidade.aprovado == False %}
                            <option value="True">Sim</option>
                            <option value="False" selected>Não</option>
                        {% endif %}
                    </select>
                </form>
                {% endif %}
            </div>
        </div>
        
    </div>

    {% endblock %}
