{% extends 'capacita/base.html' %}

{% block content %}
    
    <div class="table_div">

        <h2 class="ui dividing header">{{ necessidade.txt_descricao }}</h2>
        <br>
        <div class="ui three column very relaxed grid">
            <div class="column">
                <strong>Necessidade ID:</strong>
                <p>{{ necessidade.cod_necessidade }}</p>
                <strong>Nome:</strong>
                <p>{{ necessidade.txt_descricao }}</p>
                <strong>Quantidade de Servidores:</strong>
                <p>{{ necessidade.qtd_servidor }}</p>
                <strong>Área de Conhecimento:</strong>
                <p>{{ necessidade.cod_sub_area_conhecimento.cod_area_conhecimento }}</p>
                <strong>Sub Área de Conhecimento:</strong>
                <p>{{ necessidade.cod_sub_area_conhecimento.txt_descricao }}</p>
            </div>
            <div class="column">
                <strong>Plano de Capacitação:</strong>
                <p>{{ necessidade.cod_plano_capacitacao }}</p>
                <strong>Iniciativa:</strong>
                <p>{{ necessidade.cod_iniciativa }}</p>
                <strong>Prioridade:</strong>
                <p>{{ necessidade.cod_prioridade }}</p>
                <strong>Nível:</strong>
                <p>{{ necessidade.cod_nivel }}</p>
                <strong>Mês:</strong>
                <p>{{ necessidade.cod_mes }}</p>
            </div>
            <div class="column">
                <strong>Hora de duração:</strong>
                <p>{{ necessidade.hor_duracao }}</p>
                <strong>Turno:</strong>
                <p>{{ necessidade.cod_turno }}</p>
                
            </div>
        </div>
        
    </div>

    {% endblock %}
