
    {% extends 'capacita/base.html' %}

    {% block content %}

    <div class="ui container">
        <form class="ui form" method="post">{% csrf_token %}
            
            <h4 class="ui dividing header">Novo Órgão</h4>

            <div class="field">
                {{ form.nome.errors }}
                <label>Nome</label>
                {{ form.nome  }}
            </div>
            <button class="ui primary button" type="submit">Salvar</button>
            </div>
        </form>
    </div>

    {% endblock %}
