{% extends 'capacita/base.html' %}

{% block content %}

    <div class="table_div">

        <h4 class="ui dividing header">Órgãos</h4>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                <th>Nome</th>
                {% if is_admin == True %}
                <th>Editar</th>
                <th>Visível</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for orgao in orgaos %}
                    <tr class="center aligned">
                        <td>{{orgao.nome}}</td>
                        {% if is_admin == True %}
                        <td><a class="links" href="{% url 'orgao_edit' orgao.cod_orgao %}"><i class="pencil icon"></i></a></td>

                        {% if cod_orgao.ind_excluido == False %}
                        <td><a class="links" href="{% url 'orgao_delete' orgao.cod_orgao %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a class="links" href="{% url 'orgao_undelete' orgao.cod_orgao %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}

                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            {% if orgaos.has_other_pages %}
            <tfoot>
                <tr><th colspan="7">
                    <div class="ui right floated pagination menu">
                    {% if orgaos.has_previous %}
                    <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ orgaos.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% for i in orgaos.paginator.page_range %}
                    {% if orgaos.number == i %}
                        <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ i }}"><strong>{{ i }}</strong></a>
                    {% else %}
                        <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if orgaos.has_next %}
                    <a class="item" href="?cod_area_conhecimento_id={{area_filtrada}}&page={{ orgaos.next_page_number }}">&raquo;</a>
                    {% else %}
                    <span class="item">&raquo;</span>
                    {% endif %}
                    </div>
                </th>
            </tr></tfoot>
        </table>
        {% endif %}
        <br>
        {% if is_admin == True %}
        <a href="/orgao/new/"><button class="ui button basic secondary">Novo</button></a>
        {% endif %}
    </div>

    {% endblock %}
