{% extends 'capacita/base.html' %}

{% block content %}
    
    <div class="table_div">
        <h4 class="ui dividing header">Plano {{ plano.cod_plano_capacitacao }}</h4>
        <div class="column">
            <strong>Quantidade de servidores efetivos:</strong>
            <p>{{ plano.qtd_servidores_efetivos }}</p>
            <strong>Quantidade de servidores comissionados:</strong>
            <p>{{ plano.qtd_servidores_comissionados }}</p>
            <strong>Período:</strong>
            <p>{{ plano.ano_plano_capacitacao }}</p>
        </div>
        
        <br>
        
    </div>

    {% endblock %}
