
    {% extends 'capacita/base.html' %}

    {% block content %}

    <div class="ui container">
        <form class="ui form" method="post">{% csrf_token %}
            
            <h4 class="ui dividing header">Plano</h4>
            <div class="two fields">
                <div class="field">
                    {{ form.ano_plano_capacitacao.errors }}
                    <label>Período</label>
                    {{ form.ano_plano_capacitacao }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    {{ form.qtd_servidores_efetivos.errors }}
                    <label>Quantidade de Servidores Efetivos</label>
                    {{ form.qtd_servidores_efetivos}}
                </div>
                <div class="field">
                    {{ form.qtd_servidores_comissionados.errors }}
                    <label>Quantidade Servidores Comissionados</label>
                    {{ form.qtd_servidores_comissionados }}
                </div>
                <div class="field">
                    {{ form.plano_habilitado.errors }}
                    <label>Habilitado</label>
                    {{ form.plano_habilitado }}
                </div>
            </div>
            
            <button class="ui primary button" type="submit">Salvar</button>
        </form>
    </div>

    {% endblock %}
