{% extends 'capacita/base.html' %}

{% block content %}
    
    <div class="table_div">

        <br>
        <h4 class="ui dividing header">Plano {{ plano.cod_plano_capacitacao }}</h4>
        <div class="ui raised segments">
            <div class="ui segment">
                <p><b>Órgão:</b> {{ plano.cod_orgao }}</p>
            </div>
            <div class="ui segment">
                <p><b>Tipo de plano:</b> {{ plano.cod_tipo_plano_capacitacao }}</p>
            </div>
            <div class="ui segment">
                <p><b>Situação:</b> {{ plano.situacao }}</p>
            </div>
            <div class="ui segment">
                <p><b>Quantidade de servidores efetivos:</b> {{ plano.qtd_servidores_efetivos }}</p>
            </div>
            <div class="ui segment">
                <p><b>Quantidade de servidores comissionados:</b> {{ plano.qtd_servidores_comissionados }}</p>
            </div>
            <div class="ui segment">
                <p><b>Período:</b> {{ plano.ano_plano_capacitacao }}</p>
            </div>
        </div>
        <br>
        
    </div>

    {% endblock %}
