
    {% extends 'capacita/base.html' %}

    {% block content %}

    <div class="ui container">
        <h4 class="ui dividing header">Plano de Capacitação</h4>
        <form class="ui form" method="post">{% csrf_token %}
            
            <div class="two fields">
                <div class="field">
                    {{ form.ano_plano_capacitacao.errors }}
                    <label>Ano</label>
                    {{ form.ano_plano_capacitacao }}
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    {{ form.plano_habilitado.errors }}
                    <label>Habilitado</label>
                    {{ form.plano_habilitado }}
                </div>
            </div>
            
            <button class="ui primary button" type="submit">Salvar</button>
            <a href="/plano/" class="ui button basic secondary" role="button" aria-pressed="true">Voltar</a>

        </form>
    </div>

    {% endblock %}
