{% extends 'capacita/base.html' %}

{% block content %}

    <div class="table_div">

        <h4 class="ui dividing header">Tipos de Treinamento</h4>
        <table class="ui celled padded table">
            <thead>
                <tr class="center aligned">
                    <th>Nome</th>
                    <th>Editar</th>
                    <th>Visível</th>
                </tr>
            </thead>
            <tbody>
                
                {% for tipo in tipos %}
                    <tr class="center aligned">
                        <td>{{tipo.nome}}</td>
                        <td><a class="links" href="{% url 'tipo_treinamento_edit' tipo.cod_tipo_treinamento %}"><i class="pencil icon"></i></a></td>
                        {% if tipo.ind_excluido == false %}
                        <td><a class="links" href="{% url 'tipo_treinamento_delete' tipo.cod_tipo_treinamento %}"><i class="eye icon"></i></a></td>
                        {% else %}
                        <td><a class="links" href="{% url 'tipo_treinamento_undelete' tipo.cod_tipo_treinamento %}"><i class="eye slash icon"></i></a></td>
                        {% endif %}


                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
        <a href="/tipo_treinamento/new/"><button class="ui button basic secondary">Novo</button></a>
    </div>

    {% endblock %}
